header {
  text-align: center;
  text-decoration: underline;
}

table {
  width: 100%
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.questionColumn {
  width: 20%;
}

.answerColumn {
  width: 75%;
}

img {
  max-width: 100%;
}

td:first-child {
 font-weight: bold;
}

#firstNameAnswer {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}
#lastNameAnswer {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}
#addressAnswer {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}
#phoneAnswer {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}
#ageAnswer {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}
